/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
    font-family: var(--main-font), sans-serif;
    background-image:
        repeating-linear-gradient(90deg, #d3d3d3 0px 2px, transparent 2px 4px),
        repeating-linear-gradient(180deg, #d3d3d3 0px 2px, transparent 2px 4px),
        linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-inline-size: 320px;
    min-block-size: 100dvb;
    font-variation-settings: 'wdth' var(--weight-normal, 400);
}

/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 20px;
    margin-top: var(--margin-box);
    margin-right: var(--margin-inline);
    margin-bottom: var(--margin-box);
    margin-left: var(--margin-inline);
    border: var(--border-settings);
    padding-top: var(--padding-box);
    padding-right: var(--padding-inline);
    padding-bottom: var(--padding-box);
    padding-left: var(--padding-inline);
    background-color: var(--bg-color);
    inline-size: var(--container-size);
}

.header__title,
.header__sub-title,
.card__image-label {
    font-family: var(--accent-font), system-ui;
    font-weight: var(--weight-normal);
    line-height: 100%;
    text-transform: uppercase;
}

.header__title {
    font-size: var(--accent-size-title);
}

.header__sub-title {
    font-size: var(--accent-size-sub-title);
}

/* MAIN */

.main {
    display: flex;
    flex-direction: column;
    margin-right: var(--margin-inline);
    margin-left: var(--margin-inline);
    inline-size: var(--container-size);
}

.posts {
    display: flex;
    flex-direction: column;
    gap: 49px;
    padding-left: 0;
}

.post {
    background-color: var(--bg-color);
}

.card {
    display: flex;
    flex-direction: column;
    border: var(--border-settings);
}

.card__title,
.card__description {
    font-size: var(--main-font-size);
}

.card__title {
    border-bottom: var(--border-settings);
    padding: 5px 10px;
    font-variation-settings: 'wdth' var(--weight-bold, 700);
}

.card__container-image {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: end;
    overflow: hidden;
}

.post:nth-child(4) .card__image-label,
.post:nth-child(5) .card__image-label,
.post:nth-child(6) .card__image-label,
.post:nth-child(7) .card__image-label,
.post:nth-child(8) .card__image-label {
    text-transform: none;
}

.card__image-label,
.button__text {
    font-size: var(--accent-font-size);
}

.card__image-label {
    position: absolute;
    top: 25px;
    right: clamp(13px, calc(13px + 12 * (100vw - 375px) / 1065), 25px);

    text-shadow:
        -1px 0 var(--color-label),
        0 1px var(--color-label),
        1px 0 var(--color-label),
        0 -1px var(--color-label);
    mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
    .card__image-label {
        text-shadow: none;
        -webkit-text-stroke: 1px var(--color-label);
        text-stroke: 1px var(--color-label);
    }
}

.card__image {
    z-index: -1;
    display: block;
    object-fit: cover;
    object-position: 97.5% 0%;
    aspect-ratio: 1 / 1;
    inline-size: 100%;
    block-size: 100%;
}

.card__blank-slate {
    filter: grayscale(80%);
}

.card__challenge {
    filter: saturate(390%);
}

.card__chase {
    filter: hue-rotate(39deg);
}

.card__folks {
    filter: invert(80%);
}

.card__strategies {
    filter: sepia(80%);
}

.card__despondency {
    filter: blur(20px);
}


.card__here {
    filter: hue-rotate(107deg) saturate(1.6) brightness(0.7) contrast(0.6) blur(3px);
}

.card__description {
    display: flex;
    flex-direction: column;
    gap: 27px;
    border-top: var(--border-settings);
    padding: 24px 25px;
    line-height: 21px;
}

button {
    cursor: pointer;
}

.card__buttons {
    display: flex;
    justify-content: end;
    gap: 6px;
    padding-top: 3px;
    padding-right: 25px;
    padding-bottom: 27px;
}

.card__like-button,
.card__icon-button {
    border: none;
    padding: 0;
    outline: none;
    background-color: transparent;
}

.like-icon {
    place-self: center;
    width: 39px;
    height: 36px;
    vertical-align: bottom;
}

button:focus,
.like-icon:focus {
    outline: none;
}

.like-icon:focus-visible {
    outline: 2px solid black;
    outline-offset: -2px;
    transition: outline 0.3s ease;
}

.sparks {
    opacity: 0;
}

/* СОСТОЯНИЕ hover ДЛЯ СЕРДЦА */
.core,
.main-body {
    opacity: 0;
    fill: transparent;
    transition: fill 0.3s ease, opacity 0.3s ease;
}

.like-icon:hover .core {
    opacity: 1;
    fill: var(--contour-color);
    transition-delay: 0s;
}

.like-icon:hover .main-body {
    opacity: 1;
    fill: var(--contour-color);
    transition-delay: 0.05s;
}

.core {
    transition-delay: 0.03s;
}

/* СОСТОЯНИЕ active ДЛЯ СЕРДЦА */

.like-icon:active .core {
    opacity: 1;
    fill: var(--animation-fill-color);
    transition-delay: 0s;
}

.like-icon:active .main-body {
    opacity: 1;
    fill: var(--animation-fill-color);
    transition-delay: 0.05s;
}

/* Клик по иконке ДЛЯ СЕРДЦА */

.like-icon .contour {
    transition: opacity 0.3s ease, fill 0.1s ease;
}

.like-icon.is-liked .core {
    opacity: 1;
    fill: var(--animation-fill-color);
}

.like-icon.is-liked .main-body {
    opacity: 1;
    fill: var(--animation-fill-color);
    transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
    opacity: 1;
    fill: var(--animation-fill-color);
    transition-delay: 0.06s;
}

.like-icon.is-liked .heart {
    transform-origin: center;
    animation: scale-heart 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
    transform-origin: center;
    animation: sparks__heart 0.3s ease-in 0.3s;
}

@keyframes scale-heart {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.25);
    }
}

@keyframes sparks__heart {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.card__like-button {
    position: relative;
    gap: 12px;
    width: 130px;
    border: var(--border-settings);
    vertical-align: bottom;
    overflow: hidden;
}

.button__actions:focus-visible {
    box-shadow: 2px 2px 0px black;
    transition: box-shadow 0.3s ease;
}

.button__actions:hover::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 0;
    color: white;
    background-color: white;
    animation: fill_button 0.5s ease-in-out;
    mix-blend-mode: difference;
}

@keyframes fill_button {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

.button__text {
    position: relative;
    z-index: 9;
    align-content: center;
    color: white;
    font-family: var(--accent-font), system-ui;
    font-weight: var(--weight-normal);
    line-height: 90%;
    mix-blend-mode: difference;
}

.container__button {
    justify-items: center;
    width: 100%;
    margin-top: 49px;
    margin-bottom: 100px;
    text-align: center;
    background-color: none;
}

.save-button {
    position: relative;
    display: grid;
    grid-template-columns: min-content 1fr;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: var(--border-settings);
    text-wrap: nowrap;
    overflow: hidden;
    background-color: white;
    inline-size: clamp(309px, calc(309px + 33 * (100vw - 375px) / 1065), 339px);
    block-size: clamp(55px, calc(84px - 29 * (100vw - 375px) / 1065), 84px);
}

.floppy {
    width: 21px;
    height: 21px;
}

.pop-up__window[open] {
    padding-top: 30px;
    padding-right: clamp(28px, calc(42px - 14 * (100vw - 375px) / 1065), 42px);
    padding-bottom: 30px;
    padding-left: clamp(28px, calc(42px - 14 * (100vw - 375px) / 1065), 42px);
    inline-size: clamp(341px, calc(341px + 12 * (100vw - 375px) / 1065), 353px);
}

.pop-up__window[open] .pop-up__window_floppy {
    display: grid;
    grid-template-columns: min-content 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 30px;
}

.pop-up__window_text {
    vertical-align: bottom;
    line-height: 150%;
    text-align: start;
    text-transform: uppercase;
}

.pop-up__window_button {
    position: relative;
    border: var(--border-settings);
    padding: 0;
    overflow: hidden;
    inline-size: clamp(247px, calc(247px + 46 * (100vw - 375px) / 1065), 293px);
    block-size: 38px;
    background-color: inherit;
}

.pop-up__window[open] .floppy {
    width: 39px;
    height: 39px;
    vertical-align: bottom;
}

.pop-up__window[open]::backdrop {
    backdrop-filter: brightness(75%);
}

@media (width <=375px) {
    .save-button {
        display: flex;
        flex-direction: column;
        place-items: center;
        justify-content: center;
    }

    .floppy {
        width: 28px;
        height: 28px;
    }
}