/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
    font-family: var(--main-font, 'Inter-Variable'), sans-serif;
    background-image:
        repeating-linear-gradient(90deg, #d3d3d3 0px 2px, transparent 2px 4px),
        repeating-linear-gradient(180deg, #d3d3d3 0px 2px, transparent 2px 4px),
        linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-inline-size: 320px;
    min-block-size: 100dvb;
    font-variation-settings: 'wdth' var(--weight-normal, 400);
}

/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 20px;
    margin-top: var(--margin-box, 100px);
    margin-right: var(--margin-inline, clamp(0px, calc(0px + 370 * (100vw - 375px) / 1065), 370px));
    margin-bottom: var(--margin-box, 100px);
    margin-left: var(--margin-inline, clamp(0px, calc(0px + 370 * (100vw - 375px) / 1065), 370px));
    border: var(--border-settings, 2px solid black);
    padding-top: var(--padding-box, clamp(120px, calc(120px + 8 * (100vw - 375px) / 1065), 128px));
    padding-right: var(--padding-inline, clamp(14px, calc(14px + 106.5 * (100vw - 375px) / 1065), 120.5px));
    padding-bottom: var(--padding-box, clamp(120px, calc(120px + 8 * (100vw - 375px) / 1065), 128px));
    padding-left: var(--padding-inline, clamp(14px, calc(14px + 106.5 * (100vw - 375px) / 1065), 120.5px));
    background-color: var(--bg-color, white);
    inline-size: var(--container-size, clamp(375px, calc(375px + 325 * (100vw - 375px) / 1065), 700px));
}

.header__title,
.header__sub-title,
.card__image-label {
    font-family: var(--accent-font, 'PressStart2P'), fantasy;
    font-weight: var(--weight-normal, 400);
    line-height: 100%;
    text-transform: uppercase;
}

.header__title {
    font-size: var(--accent-size-title, clamp(49px, calc(49px + 16 * (100vw - 375px) / 1065), 65px));
}

.header__sub-title {
    font-size: var(--accent-size-sub-title, clamp(14px, calc(14px + 9 * (100vw - 375px) / 1065), 23px));
}

/* MAIN */

.main {
    display: flex;
    flex-direction: column;
    margin-right: var(--margin-inline, clamp(0px, calc(0px + 370 * (100vw - 375px) / 1065), 370px));
    margin-left: var(--margin-inline, clamp(0px, calc(0px + 370 * (100vw - 375px) / 1065), 370px));
    inline-size: var(--container-size, clamp(375px, calc(375px + 325 * (100vw - 375px) / 1065), 700px));
}

.posts {
    display: flex;
    flex-direction: column;
    gap: 49px;
    padding-left: 0;
}

.post {
    background-color: var(--bg-color, white);
}

.card {
    display: flex;
    flex-direction: column;
    border: var(--border-settings, 2px solid black);
}

.card__title,
.card__description {
    font-size: var(--main-font-size, 18px);
}

.card__title {
    border-bottom: var(--border-settings, 2px solid black);
    padding: 5px 10px;
    font-variation-settings: 'wdth' var(--weight-bold, 700);
}

.card__container-image {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: end;
    overflow: hidden;
}

.capital_label {
    text-transform: none;
}

.card__image-label,
.button__text {
    font-size: var(--accent-font-size, 14px);
}

.card__image-label {
    position: absolute;
    top: 25px;
    right: clamp(13px, calc(13px + 12 * (100vw - 375px) / 1065), 25px);
    text-shadow:
        -1px 0 var(--color-label, rgb(255, 255, 255, 0.6)),
        0 1px var(--color-label, rgb(255, 255, 255, 0.6)),
        1px 0 var(--color-label, rgb(255, 255, 255, 0.6)),
        0 -1px var(--color-label, rgb(255, 255, 255, 0.6));
    mix-blend-mode: hard-light;
    opacity: 0.5;
}

@supports((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
    .card__image-label {
        text-shadow: none;
        -webkit-text-stroke: 1px var(--color-label, rgb(255, 255, 255, 0.6));
        text-stroke: 1px var(--color-label, rgb(255, 255, 255, 0.6));
    }
}

.card__image {
    z-index: -1;
    display: block;
    object-fit: cover;
    object-position: 97.5% 0%;
    aspect-ratio: 1 / 1;
    inline-size: 100%;
    block-size: 100%;
}

.filter__grayscale {
    filter: grayscale(80%);
}

.filter__saturate {
    filter: saturate(390%);
}

.filter__hue-rotate {
    filter: hue-rotate(39deg);
}

.filter__invert {
    filter: invert(80%);
}

.filter__sepia {
    filter: sepia(80%);
}

.filter__blur {
    filter: blur(20px);
}

.filter__multiple {
    filter: hue-rotate(107deg) saturate(1.6) brightness(0.7) contrast(0.6) blur(3px);
}

.card__description {
    display: flex;
    flex-direction: column;
    gap: 27px;
    border-top: var(--border-settings, 2px solid black);
    padding: 24px 25px;
    line-height: 21px;
}

button {
    cursor: pointer;
}

.card__buttons {
    display: flex;
    justify-content: end;
    gap: 6px;
    padding-top: 3px;
    padding-right: 25px;
    padding-bottom: 27px;
}

.button__actions {
    position: relative;
    border: var(--border-settings, 2px solid black);
    overflow: hidden;
    background-color: white;
    vertical-align: bottom;
    padding: 0;
}

.card__icon-button {
    border: none;
    padding: 0;
    outline: none;
    background-color: transparent;
}

.like-icon {
    place-self: center;
    width: 39px;
    height: 36px;
    vertical-align: bottom;
}

button:focus,
.like-icon:focus {
    outline: none;
}

.like-icon:focus-visible {
    outline: 2px solid black;
    outline-offset: -2px;
    transition: outline 0.3s ease;
}

.sparks {
    opacity: 0;
}

.card__like-button {
    gap: 12px;
    width: 130px;
}

.button__actions:focus-visible {
    box-shadow: 2px 2px 0px black;
    transition: box-shadow 0.3s ease;
}

.button__actions:hover::before {
    transform: translateX(0%);
}

.button__actions::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 0;
    background-color: black;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
}

.button__text {
    position: relative;
    z-index: 9;
    align-content: center;
    color: white;
    font-family: var(--accent-font, 'PressStart2P'), fantasy;
    font-weight: var(--weight-normal, 400);
    line-height: 90%;
    mix-blend-mode: difference;
}

.container__button {
    justify-items: center;
    width: 100%;
    margin-top: 49px;
    margin-bottom: 100px;
    text-align: center;
    background-color: transparent;
}

.save-button {
    display: flex;
    place-items: center;
    justify-content: center;
    gap: 8px;
    text-wrap: wrap;
    inline-size: clamp(309px, calc(309px + 33 * (100vw - 375px) / 1065), 339px);
    block-size: clamp(55px, calc(84px - 29 * (100vw - 375px) / 1065), 84px);
}

.floppy {
    width: 21px;
    height: 21px;
    mix-blend-mode: difference;
    color: white;
}

.pop-up__window[open] {
    padding-top: 30px;
    padding-bottom: 28px;
    padding-left: clamp(30px, calc(40px - 10 * (100vw - 375px) / 1065), 40px);
    padding-right: clamp(30px, calc(40px - 10 * (100vw - 375px) / 1065), 40px);
    inline-size: 357px;
    border: var(--border-settings);
}

.pop-up__window[open] .pop-up__window_floppy {
    display: grid;
    grid-template-columns: min-content 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 30px;
}

.pop-up__window_text {
    vertical-align: bottom;
    line-height: 150%;
    text-align: start;
    text-transform: uppercase;
    max-inline-size: 234px;
}

.pop-up__window_button {
    inline-size: clamp(257px, calc(257px + 36 * (100vw - 375px) / 1065), 293px);
    block-size: 38px;
}

.pop-up__window[open] .floppy {
    width: 39px;
    height: 39px;
    vertical-align: bottom;
}

.pop-up__window[open]::backdrop {
    backdrop-filter: brightness(25%);
}

@media (width <=375px) {
    .save-button {
        flex-direction: column;
        place-items: center;
        justify-content: center;
    }

    .floppy {
        width: 28px;
        height: 28px;
    }

    .pop-up__window[open] {
        min-inline-size: 341px;
        padding: 30px clamp(28px, calc(40px - 12 * (100vw - 375px) / 1065), 40px);
}
}